<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faditor.faditorexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".MainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"> <!-- 강제로 세로모드로만 하게 만듬 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CommentActivity.CommentActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".FashionPickActivity.FashionPickActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".NoticeActivity.NoticeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".PostActivity.PostActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".ProfileActivity.ProfileActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".ProfileEditActivity.ProfileEditActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SearchActivity.SearchActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SettingActivity.SettingActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".PaperActivity.PaperActivity"
            tools:ignore="InnerclassSeparator" />

    </application>
</manifest>