<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faditor.faditorexample">

    <!-- 카메라에 대한 권한 받아옴 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 외부 저장소에 대한 읽고 쓰기 권한 받아옴 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- hardware의 카메라를 사용하기 위한 uses-feature을 설정하도록 한다. -->
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".SplashActivity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"
            android:usesCleartextTraffic="true"> <!-- 강제로 세로모드로만 하게 만듬 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".CommentActivity.CommentActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".NoticeActivity.NoticeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".PostActivity.PostActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".ProfileActivity.ProfileActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".ProfileEditActivity.ProfileEditActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SearchActivity.SearchActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SettingActivity.SettingActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".PaperActivity.PaperActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".LoginActivity.LoginActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".PostUploadActivity.PostUploadActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.faditor.faditorexample"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>